.user-profile span {
  font: normal normal medium 14px/32px Roboto;
  color: #000000;
}

.user-profile .account_circle {
  font-size: 2.125rem !important;
  height: 2.125rem !important;
  width: 2.125rem !important;
}

.mat-toolbar {
  color: lightgray !important;
  background-color: #E68B00 !important;
  height: 40px !important;
}

.user-account {
  margin-left: 98%;
}
