<div class="table-main">
  <mat-table [dataSource]="dataSource" matSort #sort="matSort">
    <ng-container *ngFor="let mapping of columnMappings" [matColumnDef]="mapping.model">
      <mat-header-cell class="header" *matHeaderCellDef mat-sort-header>
        <mat-list role="list">
          <mat-list-item role="listitem" class="header-title">
            {{ mapping.display | titlecase }}
          </mat-list-item>
          <mat-list-item role="listitem" class="table-search">
            <mat-form-field class="filter">
              <mat-icon matPrefix class="search-icon">search</mat-icon>
              <input type="search" class="{{mapping.model}}" matInput (input)="applyFilter($event)" (mouseenter)="handleMouseEnter($event)" (mouseleave)="handleMouseLeave($event)">
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element[mapping.model] }}
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="DisplayedColumn; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: DisplayedColumn" class="custom-hover-effect">
    </mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength"
                 [pageSize]="pageSize"
                 [pageIndex]="paginator.pageIndex"
                 [pageSizeOptions]="[5, 10, 25, 100]" class="mat-paginator-sticky" (page)="loadData()">
  </mat-paginator>

</div>
